
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
  }